.mobile-view #list-area {

.tiles-style .tiles-grid-item {
  display: grid;
  grid-template-areas: "category tags tags tags meta"
   "title title title title title"
   "author author author author author"
   "photo photo photo photo photo";
   background-color: $primary-very-low;
   border-radius: 3px;
   padding: 5px;
}

.topic-category {
  grid-area: category;
  display: unset;
}

a.discourse-tag {
  color: $primary-low;
}

.tiles-style .topic-title {
  grid-area: title;
  font-weight: 600;
  a.title {
    color: $primary-medium;
  }
  font-size: 1.6em;
}

.topic-author {
  grid-area: author;
  display: inline-block;
  span {
    padding-right: 7px;
  }
  font-weight: 550;
  font-size: 1em;
  a {
    color: $primary-medium;
  }
  padding-bottom: 3px;
}

.tiles-style .topic-meta {
  float: right;
  a {
    color: $primary-low-mid;
  }
}

.topic-meta {
  text-align: right;
  float: unset;
}

.topic-views, .topic-replies, .middot {
  display: none;
}
}
